---
import { Image } from "astro:assets";
import bs23 from "../../public/bs23-logo.jpg"

interface Education {
  role: string;
  image: ImageMetadata;
  institution: string;
  year: string;
  description: string;
  logo_bg: string;
}

const educations: Education[] = [
  {
    role: "Associate Software Engineer",
    image: bs23,
    institution: "Brain Station 23",
    year: "2022-2023",
    description: "Achieved cross disciplinary experience with planners and civil engineers to incorporate software engineering practices with simulation systems. Expanded my knowledge of LLM agents, simulation modeling and statistical techniques",
    logo_bg: "white"
  },
];
---

<section class="text-[var(--white)] py-16" id="education">
  <div class="max-w-5xl mx-auto space-y-8">
    <div class="text-center space-y-4">
      <h2 class="text-4xl md:text-5xl font-medium text-[var(--white)]">
        Work Experience
      </h2>
      <p class="text-lg text-[var(--white-icon)] max-w-2xl mx-auto">
        <!-- Add your education description here -->
      </p>
    </div>

    <div class="grid gap-8 md:gap-12">
      {educations.map((item) => (
        <div class="border border-[var(--white-icon-tr)] rounded-xl p-4 md:p-6 bg-[#1414149c] hover:bg-[var(--white-icon-tr)] transition duration-300 flex flex-col md:flex-row items-center">
          <div class={`w-16 h-16 md:w-28 md:h-28 mb-4 md:mb-0 md:mr-4 rounded-lg flex items-center justify-center ${item.logo_bg === 'white' ? 'bg-white' : item.logo_bg === 'transparent' ? 'bg-transparent' : `bg-${item.logo_bg}`}`}>
            <Image src={item.image} alt={item.institution} class="w-12 h-12 md:w-20 md:h-20" />
          </div>
          <div class="flex flex-col flex-1 text-center md:text-left">
            <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4">
              <h3 class="text-xl md:text-2xl font-medium text-[var(--white)]">
                {item.role}
              </h3>
              <span class="text-[var(--white-icon)] text-sm md:text-base">
                {item.year}
              </span>
            </div>
            <h4 class="text-lg text-[var(--white-icon)] mb-2">
              {item.institution}
            </h4>
            <p class="text-[var(--white-icon)] mb-4">
              {item.description}
            </p>
          </div>

        </div>
      ))}
    </div>
  </div>
</section>